.container {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 20px;

   span {
      display: flex;
      align-items: center;
      gap: 5px;
   }

   img {
      width: 20px;
      height: 20px;
   }

   .skillList {
      display: flex;
      justify-content: space-evenly;
      align-self: center;
      flex-wrap: wrap;
      row-gap: 40px;
      max-width: 90ch;
   }

   hr {
      width: 150px;
      height: 1px;
      border: none;
      margin: 30px auto;
      background-color: var(--text-color);
   }
}